/* FONTS FOR WEBSITE */
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Quicksand_Dash.otf);
    font-weight: bold;
}
@font-face {
    font-family: font_select;
    src: url(../fonts/Quicksand-Italic.otf);

}

/* DEFINING IMAGES AND PLACEMENT */


div.sectionA {
  padding: 4%;
  border: 2px white solid;
  background-color: #C0C0C0;
  height: 800px;
}
div.sectionA img {
  border-radius: 50%;
  border: 3px white solid;
  float: left;
  height: 600px;
  width: 600px;
  transition: all .2s ease-in-out;
  opacity: 0.5;
}
div.sectionA img:hover{
  transform: scale(1.1);
  opacity: 1;
}




/* sectionB is inverse of sectionA with image on the right*/
div.sectionB {
  padding: 4%;
  border: 2px white solid;
  background-color: #909090;
  height: 800px;
}
div.sectionB img {
  border-radius: 50%;
  border: 3px white solid;
  float: right;
  height: 600px;
  width: 600px;
  transition: all .2s ease-in-out;
  opacity: 0.5;
}
div.sectionB img:hover{
  transform: scale(1.1);
  opacity: 1;
}
.clear {
  clear: both;
}







div.textBoxRight {
  width: 800px;
  text-align: right;
  float: right;
}

div.textBoxRight p {
  font-family: myFirstFont;
  color: white;
  font-size: 40px;
  text-align: right;

}
div.textBoxLeft {
  width: 800px;
  text-align: left;
  float: left;
}

div.textBoxLeft p {
  font-family: myFirstFont;
  color: white;
  font-size: 40px;
  text-align: left;

}

/* SET UP TEXT BOXES FOR ANIMAL DESCRIPTION */
