/* FONTS FOR WEBSITE
We import */
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Quicksand_Dash.otf);
    font-weight: bold;
}

@font-face {
    font-family: font_select;
    src: url(../fonts/Quicksand-LightItalic.otf);
    font-weight: bold;
}







/* DEFINING IMAGES AND PLACEMENT */
div.header {
  height: 400px;
  text-align: center;
  background-image: url(images/digital-green.jpg);
}
div.header h1 {
  padding: 7%;
  height: 400px;
  font-size: 100px;
  color: white;
  font-family: font_select;
}









div.sectionA {
  border: 2px white solid;
  background-color: #C0C0C0;
  height: 800px;
}
div.sectionA img {
  border-radius: 50%;
  border: 3px white solid;
  float: left;
  height: 600px;
  width: 600px;
  transition: all .2s ease-in-out;
  opacity: 0.5;
}
div.sectionA img:hover{
  transform: scale(1.1);
  opacity: 1;
  transform: rotate(-10deg);
}
div.sectionA img:hover::before{

}






/*sectionB is inverse of sectionA with image on the right*/
div.sectionB {
  border: 2px white solid;
  background-color: #909090;
  height: 800px;
}
div.sectionB img {
  border-radius: 50%;
  border: 3px white solid;
  float: right;
  height: 600px;
  width: 600px;
  transition: all .2s ease-in-out;
  opacity: 0.5;
}
div.sectionB img:hover{
  transform: scale(1.1);
  opacity: 1;
  transform: rotate(-10deg);
}
.clear {
  clear: both;
}










div.textBoxRight {
  width: 800px;
  text-align: right;
  float: right;
}

div.textBoxRight p {
  font-family: myFirstFont;
  color: white;
  font-size: 40px;
  text-align: right;

}
div.textBoxLeft {
  width: 800px;
  text-align: left;
  float: left;
}

div.textBoxLeft p {
  font-family: myFirstFont;
  color: white;
  font-size: 40px;
  text-align: left;

}








div.footer {
  position: absolute;
  width: 98%;
  height: 300px;
  background-color: black;
  padding-top: 2%;
  padding-left: 2%;
}
div.footer img {
  float: left;
  border: 3px white solid;
  height: 200px;
}
div.footer h1 {
  padding: 1%;
  font-family: myFirstFont;
  color: white;
  font-size: 40px;
  text-align: right;
}
div.footer p {
  padding-right: 2%;
  font-family: myFirstFont;
  color: white;
  font-size: 20px;
  text-align: right;
}
/* SET UP TEXT BOXES FOR ANIMAL DESCRIPTION */
